<mat-card>
    <mat-card-header>
        <h1>{{ post.title }}</h1>
    </mat-card-header>
    <mat-card-subtitle>
        <p>posted by: {{ post.postedBy.fullname }}</p>
        <p>{{ post.createdAt | date: 'medium' }}</p>
        <div *ngIf="post.createdAt !== post.updatedAt">
            <p>{{ post.updatedAt | date: 'medium' }}</p>
        </div>
    </mat-card-subtitle>
</mat-card>

<br>

<mat-card>
    <mat-card-header>
        <mat-chip-list>
            <mat-chip *ngFor="let tag of post.tags">
                {{tag.title}}
            </mat-chip>
        </mat-chip-list>
    </mat-card-header>
    <mat-card-content>
        <showdown sanitize="true" ngPreserveWhitespaces [value]="post.content"></showdown>
    </mat-card-content>
</mat-card>
