<div>
  <mat-grid-list cols="4" rowHeight="2:1">
    <div *ngFor="let post of posts.docs">
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{post.title}}
              </mat-card-title>
              <mat-card-subtitle>
                {{post.postedBy.fullname}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button (click)="redirectToPost(post._id)">Go to post</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </div>
  </mat-grid-list>
</div>